.card{
    vertical-align:top;
    background-color:#808080;
    &:hover{
        background-color:#009faf;
    }

    &:before{
        content:"F";
        font-size:800%;
        position:absolute;
        width:100%;
        height:100%;
        left:30%;
        top:45%;
    }
    &.active,
    &.complete{
        &:before{
            content:none;
        }
    }
    height:260px;
    width:260px;
    padding:16px;
    .social_media{
        position:absolute;
        left:0;
        width:0;
    }
    &:hover .social_media{
        width:20%;
    }
    &.question{
    }
    &.info {
        img{
            width:100%;
            height:79px;
        }
    }
    &.video{
        .player{
            width:100%;
            
        }
        a.play{
            display:block;
            padding-top:79px;
            width:116;
            height:116;
            border-radius:50%;
            background-color:black;
            font-size:200%;
        }
    }
    &:hover{


    }
}
