body{
    font-family:sans;
    color:white;
    font-size:18pt;
    line-height:22pt;
    font-weight:bold;
}
.answer{
    font-size:20pt;
    line-height:24pt;
}
.card h1{
    font-size:30pt;
    line-height:30pt;
    text-style:14pt;
}
.explanation{
    font-size:14pt;
    line-height:17pt;
}
