-unless defined?(version)
    :plain
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
-else
    :plain
        <script src="//ajax.googleapis.com/ajax/libs/jquery/#{version}/jquery.min.js"></script>
