!!!
- require './layouts/.xander-haml/core.rb'
%html
    %head
        %meta{:charset => "utf8"}
        %title
            WhyWow
        =xr :jquery ,:version => "2.0.0"
        =xr :googleAnalitics , :id=> "testCode"
        =xr :stylesheet, :location => "stylesheet.css"
        =xr :javascript, :location => "/app/"
    %body
        .wrapper
            %hgroup.banner
                %img.logo{:src => '/assets/WHYWOWLogo.svg'}
                %h1.hidden
                    Whywow
                %h2.strapline
                    :plain
                        FEMINISM IS OFTEN MISSUNDERSTOOD. <br />WHAT DOES IT MEAN <br />AND WHY DO WE DO IT<br /> CLICK ON THE CARDS TO FIND OUT.
                %img.wowlogo{:src => '/assets/WOWlogo.jpg'}
            =yield
            %footer.colophon
                %a{:href=>'humans.txt'}
                    credits
