.social_media
    %a.facebook{:target => "_blank" , :href => "http://www.facebook.com/share.php?u=" + @card[:tweet_text ] }
    %a.twitter{:target => "_blank" , :href => "http://twitter.com/home?status=" + @card[:tweet_text ] }
