@mixin scale-a{
    font-size:100%;
    line-height:130%;
}
@mixin scale-b{
    font-size:120%;
    line-height:120%;
}
@mixin scale-c{
    font-size:144%;
    line-height:110%;
}
body{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;;
    color:white;
    font-size:16px;
    line-height:20pt;
    font-weight:bold;
}
hgroup{
        color:black;
        h1{
                @include scale-c
        }
}
.answer{
    color:white;
    text-decoration:none;
    @include scale-a;
    line-height:130%;
    padding-bottom:1em;
    font-weight:normal;
}
.description{
        @include scale-a;
        font-weight:normal;
}
h1.question_text{
        @include scale-c;
}
.explanation{
    font-size:14pt;
    line-height:17pt;
}
