<html>

	<head>
	</head>

	<body>
		Hello
		<% @cards.each do |card| %>
			<%= card.description %>
		<% end %>

		<div id="cards">
			<ul id="list_of_cards">
				<li class="card question">
                                        <div class="social_media">
                                            <a class="faceboook"></a>
                                            <a class="twitter"></a>
                                        </div>
					<a class="question_option">&#9654;</a>
					<a class="question_option">&#9654;</a>
					<a class="question_option">&#9654;</a>
				</li>
				<li class="card video">
                                        <div class="social_media">
                                            <a class="faceboook"></a>
                                            <a class="twitter"></a>
                                        </div>
                                </li>
				<li class="card info">
                                        <div class="social_media">
                                            <a class="faceboook"></a>
                                            <a class="twitter"></a>
                                        </div>
					<figure>
						<img src="foo"></img>
						<figcaption>foo</figcaption>
					</figure>
				</li>
			</ul>
		<div>
	</body>
</html>