<html>

	<head>
	</head>

	<body>
		Hello
		<% @cards.each do |card| %>
		<div id="cards">
			<ul id="list_of_cards">
				<% if card_type = "question" %>
				<li class="card question">
                                        <div class="social_media">
                                            <a class="faceboook"></a>
                                            <a class="twitter"></a>
                                        </div>
					<a class="question_option">&#9654;</a>
					<a class="question_option">&#9654;</a>
					<a class="question_option">&#9654;</a>
				</li>
				<% end %>
				<% if card_type = "video" %>
				<li class="card video">
                                        <div class="social_media">
                                            <a class="faceboook"></a>
                                            <a class="twitter"></a>
                                        </div>
            		<div class="video">
            			<%= card.video %>
            		</div>
                </li>
                <% end %>
                <% if card_type = "info" %>
				<li class="card info">
                                        <div class="social_media">
                                            <a class="faceboook"></a>
                                            <a class="twitter"></a>
                                        </div>
					<div class="description">
						<%= card.description %>
					</div>
					<img src=<%= card.image %>></img><br />
					<div id="img_caption"><%= card.description %></div>
				</li>
				<% end %>
			</ul>
		<div>
		<% end %>
	</body>
</html>