<html>

	<head>
	</head>

	<body>

		<div id="cards">
			<ul id="list_of_cards">
				<li class="card question">
					<a class="question_option"></a>
					<a class="question_option"></a>
					<a class="question_option"></a>
				</li>
				<li class="card video"></li>
				<li class="card info">
					<figure>
						<img src="foo"></img>
						<figcaption>foo</figcaption>
					</figure>
				</li>
			</ul>
		<div>
	</body>
</html>