<!DOCTYPE html>
<html>
<head>
  <title>WhyWow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class=wrapper>
        <hgroup class=banner>
            <img class=logo src=/assets/WHYWOWLogo.svg /><h1 class=hidden>WhyWow</h1>
            <h2 class=strapline >FEMINISM IS OFTEN MISSUNDERSTOOD. <br />WHAT DOES IT MEAN <br />AND WHY DO WE DO IT. <br /> CLICK ON THE CARDS TO FIND OUT.</h2>
            <img class=wowlogo src=/assets/WOWlogo.jpg />
        </hgroup>

<%= yield %>
<footer class=colophon>
<a href="/humans.txt" >
credits
</a>
</footer>
</body>
</html>
