<!DOCTYPE html>
<html>
<head>
  <title>WowHack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class=wrapper>
        <hgroup class=banner>
                <h1>WowHack</h1>
                <h2>Etc</h2>
        </hgroup>

<%= yield %>
</div>
</body>
</html>
